02 - introdução.ipynb 04 - objetos_simples.ipynb 05-Objetos_Compostos_1.ipynb 06-Objetos_Compostos_2.ipynb Aula_09_04.ipynb Aula_10_04-1.ipynb Aula_10_04_estruturas_condicionais.ipynb Aula_10_04_novo.ipynb Aula_10_04_novo2.ipynb Estruturas_Repetição.ipynb Notebook_pandas_numpy.ipynb primeiro_note.ipynb segundo_note.ipynb
data.csv
